<section class="top">
  <p class="larger titillium semibold">Hey,</p>
  <p class="larger titillium semibold offset">
    My name's <span class="titillium bold tint">Chris</span>
  </p>
</section>
<section class="middle">
  <div *ngIf="song">
    <p>
      <span class="titillium">Now Playing</span>
    </p>
    <a class="tint titillium semibold" [href]="song?.url"
      ><i class="fas fa-headphones-alt mr semibold"></i>{{ song.name }}</a
    >
    <p class="titillium">By: {{ song?.artist?.name }}</p>
  </div>

  <div *ngIf="trakt && trakt.type === 'episode'">
    <p>
      <span class="titillium">Now Watching</span>
    </p>
    <a
      class="tint titillium semibold"
      [href]="'https://imdb.com/title/' + trakt.show.ids.imdb"
      ><i class="fas fa-tv mr semibold"></i>{{ trakt.show.title }}</a
    >
    <p class="titillium">
      Season {{ trakt.episode.season }} Episode {{ trakt.episode.number }}:
      {{ trakt.episode.title }}
    </p>
  </div>
  <div *ngIf="trakt && trakt.type === 'movie'">
    <p>
      <span class="titillium">Now Watching</span>
    </p>
    <a
      class="tint titillium semibold"
      [href]="'https://imdb.com/title/' + trakt.movie.ids.imdb"
      ><i class="fas fa-tv mr semibold"></i>{{ trakt.movie.title }}</a
    >
  </div>
</section>
<section class="bottom">
  <div class="left">
    <p class="large titillium semibold">
      I'm a <span class="titillium bold tint">software engineer</span>
    </p>
    <p class="titillium">
      Currently, I'm a full stack software engineer working with Angular and
      Laravel, over at
      <a href="https://amazing.com" class="titillium bold tint">Amazing.com</a>
    </p>
  </div>
  <div class="right">
    <p class="large titillium semibold">About Me</p>
    <p class="social-icons">
      <a href="https://github.com/itsjustmechris" class="tint"
        ><i class="fab fa-github-alt"></i
      ></a>
      <a href="https://www.linkedin.com/in/christian-mcgravey/" class="tint"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <a href="mailto:chris@mcgravey.dev" class="tint"
        ><i class="far fa-envelope"></i
      ></a>
      <!-- <a href="https://itschris.dev/resume"
                class="tint"><i class="far fa-file-alt"></i></a> -->
    </p>
  </div>
</section>
