<footer>
  <div class="left" style="line-height: 2em">
    <div class="titillium" style="line-height: 2em">-Fin</div>
    <div class="titillium" style="line-height: 2em">
      <i class="far fa-copyright"></i> {{ year }}
      <a style="text-decoration: unset" class="tint" href="https://itschris.dev"
        >itschris.dev</a
      >
    </div>
  </div>

  <div class="right">
    <div class="titillium" style="line-height: 2em">
      Made with
      <a href="https://www.heart.org/en/get-involved/ways-to-give"
        ><span class="tint"><i class="far fa-heart"></i></span
      ></a>
      & JS
    </div>
    <div class="titillium" style="line-height: 2em">
      <div>
        Frontend:
        <a href="https://github.com/ItsJustMeChris/personal-site-angular"
          ><i class="fas fa-desktop tint"></i
        ></a>
      </div>
      <div>
        Backend:
        <a href="https://github.com/ItsJustMeChris/personal-site-nestjs"
          ><i class="fas fa-server tint"></i
        ></a>
      </div>
    </div>
  </div>
</footer>
