<footer>
  <div class="left">
    <p class="titillium">-Fin</p>
  </div>

  <div class="right">
    <div class="titillium" style="line-height: 2em">
      Made with
      <a href="https://www.heart.org/en/get-involved/ways-to-give"
        ><span class="tint"><i class="far fa-heart"></i></span
      ></a>
      & JS
    </div>
    <div class="titillium" style="line-height: 2em">
      <div>
        Frontend:
        <a href="https://github.com/ItsJustMeChris/personal-site-angular"
          ><i class="fas fa-desktop tint"></i
        ></a>
      </div>
      <div>
        Backend:
        <a href="https://github.com/ItsJustMeChris/personal-site-nestjs"
          ><i class="fas fa-server tint"></i
        ></a>
      </div>
    </div>
  </div>
</footer>
