<ng-container *ngIf="blogPost">
  <div class="actions">
    <a
      class="edit"
      href
      *ngIf="this.authService.getAccessToken()"
      [routerLink]="['/blog', blogPost.slug, 'edit']"
      style="margin-right: 0.5em"
      ><i class="fas fa-edit"></i
    ></a>
    <a class="close" href routerLink="/"><i class="fas fa-times"></i></a>
  </div>
  <header>
    <p class="titillium semibold title">{{ blogPost.title }}</p>
    <div class="meta">
      <p class="titillium time-ago">{{ getTimeAgo(blogPost.created_at) }}</p>
      <p class="titillium read-time">{{ getReadTime(blogPost) }} min read</p>
    </div>
    <img src="{{ blogPost.image }}" alt="Image" />
  </header>
  <main [innerHtml]="blogPost.content | safeHTML"></main>
  <app-footer></app-footer>
</ng-container>
