:host  {
    display: flex;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    transition: .2s; 
    z-index: 1;
}

.image {
    width: 150px;
}

:host .left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
}

:host.dark {
    background: #E5989B;
}

:host.light {
    background: #FFCDB2;
}

:host .right {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 5%;
}

.meta {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

p.title {
    font-size: 1.5em;
    line-height: 1.4em;
}

p.smaller {
    font-size: 1em;
}

:host:hover {
    transition: .2s;
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
    z-index: 999;
    cursor: pointer;
}